<div class="container" style="width: 800px;">
  <h3 class="my-3">スケジュール詳細</h3>

  <table class="table table-bordered">
    <tr>
      <th class="bg-success text-light">タイトル</th>
      <td><%= @schedule.title %></td>
    </tr>
    <tr>
      <th class="bg-success text-light">開始日</th>
      <td><%= @schedule.start_date %></td>
    </tr>
    <tr>
      <th class="bg-success text-light">終了日</th>
      <td><%= @schedule.end_date %></td>
    </tr>
    <tr>
      <th class="bg-success text-light">終日</th>
      <td><%= @schedule.all_day ? '○' : '' %></td>
    </tr>
    <tr>
      <th class="bg-success text-light">スケジュールメモ</th>
      <td><%= @schedule.memo %></td>
    </tr>
  </table>

  <div class="d-flex justify-content-between my-4">
    <%= link_to "編集", edit_schedule_path(@schedule), class: "btn btn-outline-primary" %>
    <%= link_to "スケジュール情報一覧に戻る(キャンセル)", :schedules, class: "btn btn-secondary" %>
  </div>

</div>
